# Project related
bin/*
logs/*
*.log
*.o

# PVS related
strace_out
report.tasks
PVS-Studio.log
.PVS-Studio
suppress_base.json
pvs.sh

# CPP-Check related
cppcheck.txt

# GDB related
.gdb_history

# IDEs related
.idea/*
.vscode/*
.gdb_history
cmake_install.cmake
CMakeFiles/*
CMakeCache.txt
CMakeLists.txt
.bash_history

# OS related
.DS_Store
Thumbs.db
