# Project related
docs/*
bin/*
*.log
*.o
Testing/*
logs/*
debugging/*
informe/*
.config
cppcheck.txt

# PVS related
strace_out
report.tasks
PVS-Studio.log
.PVS-Studio
suppress_base.json
pvs.sh

# IDEs related
.idea/*
.vscode/*
.gdb_history
cmake_install.cmake
CMakeFiles/*
CMakeCache.txt
CMakeLists.txt
.bash_history

# OS related
.DS_Store
Thumbs.db
