# Project related
docs/*
bin/*
*.log
*.o
Testing/*
logs/*
debugging/*
informe/*
pvs.sh
PVS-Studio.log
.config
.PVS-Studio

# IDEs related
.idea/*
.vscode/*
.gdb_history
cmake_install.cmake
CMakeFiles/*
CMakeCache.txt
CMakeLists.txt
.bash_history

# OS related
.DS_Store
Thumbs.db
